body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: lightgrey;
}


.appWindow {
	width: 80%;
	margin: 0 auto;
	background: white;
	border: 3px solid black;
}

/*-------NAV------*/

nav {
	border: 1px solid black;
	background: #f1c40f;
	width: 80%;
	margin: 0 auto;
  position:fixed;
  top:0px;
  right:0px;
  left:0px;
  z-index:999;
}

img {
	height: 130px;
	margin: 5px 50px 5px 20px;
}


#messageInput {
	width: 350px;
	height: 50px;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	margin: 20px auto;
}

.clearBtn {
	display: inline-block;
	height: 50px;
	width: 200px;
	background: #bdc3c7;
	border: 2px solid #c0392b;
	color: #c0392b;
	font-weight: 600;
	font-size: 1em;
	border-radius: 20% / 60%;
	text-align: center;
	margin-top: 10px;
	margin-left: 100px;
}

.clearBtn:active,
.clearBtn:hover {
	background: #c0392b;
	color: white;
	transition: .2s;
}

.clearBtn p {
	margin-top: 15px;
}

.disableBtn {
	border: 2px solid white;
}

.disableBtn p {
	color: white;
}

.disableBtn:active,
.disableBtn:hover {
	transition: none;
	background: #bdc3c7;
}


.checkBox {
	display: block;
	margin-left: 243px;
	margin-bottom: 15px;
}

.checkBox input {
	display: inline;
}


/*-----Classes to add in JS-----*/

.darkThemeColors {
	background: #95a5a6;
}

.darkThemeColors .lightbox:nth-child(odd) {
	color: #f8e3e1;
}

.darkThemeColors .lightbox:nth-child(even) {
	color: #bddcf0;
}

.largeTextLetters {
	font-size: 1.4em;
}

/*-------Message Area-----*/

#messageWindow {
	width: 90%;
	height: 90%;
	border: 3px solid black;
	border-top: none;	
	margin: 200px auto 20px;
	min-height: 400px;
	/*background: white;*/
}

#messageWindow h2 {
	margin: 0;	
}

.lightbox h3 {
	display: inline-block;
	font-size: 1.5em;
}

.lightbox:nth-child(odd) {
	color: #c0392b;
	text-align: left;
	margin-left: 15px;
}

.lightbox:nth-child(even) {
	color: #1D6876;
	text-align: right;

}

.lightbox button {
	font-family: 'Raleway', sans-serif;
	margin-left: 5px;
	margin-right: 15px;
	height: 30px;
	width: 80px;
	border-radius: 20% / 60%; 
	border: 1px solid black;
	background: white;
	color: #c0392b;
}






